.entry h2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 50px;
    background-color: rgb(209, 30, 63);
    color: white;
    border-radius: 30px;
    width: 100%;
}

.map {
    margin-top: 20px;
    margin-bottom: 20px;
}

.map_address {
    margin-top: 15px;
}

iframe {
    width: 300px;
    height: 300px;
}